@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    /* Colors */
    /* --primaryColor:#2eca6a ; */
    --primary-color:#0E4BF1 ;
    --primary-color-dark: #0A3BCC;
    --hover-color:#0E4BF1 ;

    --panel-color:#FFF;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --create-button-color: #1aae5f ;
    --create-hover-button-color: #008a3e ;
    --view-button-color: #0074D9 ;
    --view-hover-button-color: #0056B3 ;
    --edit-button-color:  #FFA500 ;
    --edit-hover-button-color: #FF7F00 ;
    --delete-button-color: #fc0000 ;
    --delete-hover-button-color: #b32727 ;
    --toggle-color:#DDD;
    --box1-color:#4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color:#E7D1FC;
    --title-icon-color:#fff;
    /* Transition */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--panel-color);


}
body.dark{
    --primary-color:#3A3B3C ;
    --primary-color-dark: #1E1E1E;
    --hover-color:#3A3B3C ;
    --panel-color:#242526;
    --text-color:#CCC;
    --black-light-color:#ccc;
    --border-color:#4D4C4C;
    --toggle-color:#FFF;
    --box1-color:#3A3B3C;
    --box2-color:#3A3B3C;
    --box3-color:#3A3B3C;
    --title-icon-color:#ccc;

}
/* nav bar */
nav{
    position : fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition:var(--tran-05) ;
    z-index: 10;
}
/* nav hide */
nav.close{
    width: 73px;

}
/* nav logo section */
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width:45px;
}
/* nav logo */
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
/* nav logo name */
nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left:14px;
    transition: var(--tran-03);
}
nav.close .logo-name{
    opacity: 0;
    pointer-events: none;

 }

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;

}
.nav-links {

    overflow: auto;
    max-height: 70vh;
}
.nav-links::-webkit-scrollbar {
    display: none;
  }
.nav-links li a:hover:before{
    content:  "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--hover-color);

}
body.dark li a:hover:before{
    background-color: var(--hover-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);

}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-03);

}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
 }

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--hover-color) ;

}
body.dark li a:hover i,
body.dark li a:hover .link-name{
    color: var(--text-color) ;

}
.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 2px solid var(--border-color);


}
/* Style for the sub-menu */
.menu-items li ul.sub-menu {
    list-style: none;
    padding: 0;
     display: none;
     transition: all 0.3s;

}
.menu-items li ul.sub-menu.show {
    display: block;

}
/* Style for rotating the arrow */
.arrow{
    transition: var(--tran-03);
}
.arrow.rotate {
    transform: rotate(-90deg);
}

/* Style for sub-menu list items */
.menu-items li ul.sub-menu li {
    margin: 0;
    padding: 0;
}

.menu-items li ul.sub-menu li a {
    display: flex;
    align-items: center;
    justify-content:left;
    text-decoration: none;
    padding: 10px 30px; /* Adjust padding as needed */
    color: var(--black-light-color);
    transition: var(--tran-03);
}



/* Darkmode Lightmode */
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
 content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left:20px;
}
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);

    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250;
    right: 0;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between ;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    border-bottom: 2px solid var(--border-color);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);

}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;

}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius:5px ;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.user-detail {
    display: flex;
    align-items: center;

  }
.top .user-detail img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;

}
.top .user-detail .user-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
}


main{
    position: relative;
    left: 250px;

    background-color: var(--panel-color);
    width: calc(100% - 250px);
    padding: 10px 14px;
    margin-top: 45px;
    transition: var(--tran-05);
    top: -20px;
    padding-left:17px ;

}
nav.close ~ main{
    left: 73px;
    width: calc(100% - 73px);
    padding-left:17px ;


}



@media (max-width: 1000px) {
    nav{
        width:73px;
    }
    nav.close{
        width:250px;
    }

    nav .logo-name{
        opacity: 0;
        pointer-events: none;

     }
    nav.close .logo-name{
        opacity: 1;
        pointer-events: auto;

     }
     nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
     nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
     nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);

    }
     nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);

    }
    nav ~ main{
        left: 73px;
        width: calc(100% - 73px);

    }
    nav.close ~ main{
        left: 250px;
        width: calc(100% - 250px);

    }
    .activity .activity-data{
        overflow-x: scroll;
    }

}
@media (max-width: 780px) {
    .content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
    table {
        font-size: 14px;
        table-layout: auto;
      }

      th,
      td {
        padding: 8px;
      }

      table .button-group button {
        padding: 8px 16px;
      }

}

@media only screen and (max-width: 768px) {
    table{
    overflow: hidden;
    }
  }

@media (max-width: 560px) {
    .content .boxes .box{
        width: 100% ;

    }
}
@media (max-width: 500px) {
    nav{
        width:73px;
    }
    nav.close{
        width:73px;
    }

    nav .logo-name{
        opacity: 0;
        pointer-events: none;

     }
    nav.close .logo-name{
        opacity: 0;
        pointer-events: none;

     }
     nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
     nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
     nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);

    }
     nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);

    }
    nav ~ main{
        left: 73px;
        width: calc(100% - 73px);

    }
    nav.close ~ main{
        left: 73px;
        width: calc(100% - 73px);

    }
    .dashboard .top .sidebar-toggle{
        display: none;
    }
}
